/**
 * global styles
 */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden;
}

body.fontLoaded {
  font-family: 'Roboto', sans-serif;
}

:global(#app) {
  background-color: rgb(48, 48, 48);
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
}

:global(#app) > div {
  height: 100%;
}

/* css for context menu */
:global .react-contextmenu {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 16px;
  color: #373a3c;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  outline: none;
  opacity: 0;
  pointer-events: none;
}

:global .react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
}

:global .react-contextmenu-link {
  display: inline-block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.5;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

:global .react-contextmenu-link.active,
:global .react-contextmenu-link:hover {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
  text-decoration: none;
}
:global .react-contextmenu-item.submenu > a {
  padding-right: 27px;
}

:global .react-contextmenu-item.submenu > a:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}

.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}
