.container {
  height: 100%;
  /*font-family: monospace;*/
  font-family: 'Roboto Mono', monospace;
}

.listContainer {
  /*font-family: monospace;*/
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  font-weight: normal;
}
.listContainer * {
  box-sizing: border-box;
  font-size: 15px;
  font-weight: normal;
}

.topUl {
  padding: 0 0 0 0.5em !important;
}
.container ul {
  margin: 0;
  list-style: none;
  padding: 0 0 0 1.1em;
}

.node {
  height: 23px;
  max-height: 23px;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  user-select: none;
  font-size: 1.1em;
  cursor: pointer;
  color: rgb(247, 247, 247);
}

.nodeIsInActiveNodePath {
  composes: node;
  font-weight: 900;
  color: rgb(255, 94, 94);
  padding-left: .5em;
  font-size: 15px;
}

.node:hover {
  color: #b3d4fc;
}

.symbol {
  margin-right: 0;
  font-weight: 900;
}

.symbolOpen {
  composes: symbol;
  margin-top: .3em;
}

.symbolOpenInActiveNodePath {
  composes: symbol;
  font-size: 1.4em;
}

.text {
  padding-left: .5em;
}
