.symbol {
  margin-right: 0;
  font-weight: 900;
}

.symbolOpen {
  composes: symbol;
  margin-top: .3em;
}

.symbolOpenInActiveNodePath {
  composes: symbol;
  font-size: 1.4em;
}

.textInActiveNodePath {
  padding-left: .5em;
  font-weight: 900;
}

.text {
  padding-left: .5em;
}
