.container {
  font-family: monospace;
}
.container * {
  box-sizing: border-box;
}
.container ul {
  margin: 0;
  list-style: none;
  padding: 0 0 0 1em;
}

.item {
  height: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  font-size: 1.1em;
}
