.strukturbaum {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 0;
  flex-basis: 400px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.strukturbaumTab {
  height: 100%;
}

.tabsContent {
  height: 100%;
  padding: 5px 0;
}
