.fieldsContainer {
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: auto;
  height: 100%;
}

.section {
  padding-top: 20px;
  margin-bottom: -7px;
  color: rgba(255, 255, 255, 0.298039);
  font-weight: bold;
}

.section::after {
  content: ":"
}
