.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.fieldContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.label {
  cursor: text;
  font-size: 12px;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.498039);
  user-select: none;
}

.field {
  position: relative;
  margin-top: 30px;
}
